<ion-header>
  <ion-toolbar>
    <ion-title color="light">
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="light" class="welcome">
          <img src="./assets/logo.png"/>
          <ion-card-header>
            <ion-card-subtitle>Get Started</ion-card-subtitle>
            <ion-card-title>Welcome to Dero Gate</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button color="primary" fill="solid" expand="block">
              <ion-icon slot="start" name="refresh-circle"></ion-icon>
              Ping
            </ion-button>
            <ion-button color="primary" fill="solid" expand="block">
              <ion-icon slot="start" name="refresh-circle"></ion-icon>
              Ping
            </ion-button>
            <ion-button color="primary" fill="solid" expand="block">
              <ion-icon slot="start" name="refresh-circle"></ion-icon>
              Ping
            </ion-button>
            <ion-button color="primary" fill="solid" expand="block">
              <ion-icon slot="start" name="refresh-circle"></ion-icon>
              Ping
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
